.project {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.3;
}

.project.active {
  opacity: 1;
  transform: scale(1.05);
}

.project-video {
  flex: 0 0 50%; /* 비디오 영역을 50%로 설정 */
  height: auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.project-video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none; /* 비디오 클릭 방지 */
}

.project-description {
  flex: 1; /* 설명 영역이 나머지 공간을 차지하도록 설정 */
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: 1rem;
}
