.section {
  padding: 4rem 2rem;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.3;
  margin: 15rem 0px; /* 마진을 약간 더 추가 */
  position: relative;
  z-index: 1; /* 섹션의 z-index를 낮게 설정 */
}

.section.active {
  opacity: 1;
}

.section:not(.no-scale).active {
  transform: scale(1.05);
}

.section.no-scale.active {
  transform: none;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.section-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.section-content {
  font-size: 1rem;
  position: relative;
  z-index: 2;
}
